.card {
  background: #fcfcfc;
  box-shadow: 0 4px 40px #e8e9eb;
  margin: 10px;
  padding: 0 20px;
  border-radius: 8px;
  min-height: 300px;
}

.card:hover {
  background: #fffefd;
}

.card h2 {
  text-align: center;
}

.img {
  margin: 0 auto;
  height: 100%;
  padding-top: 8px;
}

.s_card {
  padding: 4px;
  width: 100%;
}

@media (min-width: 750px) {
  .card {
    min-height: 400px;
  }
  .s_card {
    max-width: 380px;
  }
  .img {
    height: 100px;
    display: block;
  }
}
