@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500|Caveat&display=swap');

* {
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
  font-family: 'Ubuntu', sans-serif;  
}

.centered {
  display: flex;
  align-items: center;
}

.credit {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  position: relative;
  z-index: -10000;
}
