.nav,
.nav_content,
.nav_item {
  width: 100%;
}

.nav {
  height: 40px;
  background: #ee0979;
  background: -webkit-linear-gradient(
    to right,
    #3c4463,
    #ee0979
  );
  background: linear-gradient(
    to right,
    #3c4463,
    #ee0979
  );
  color: white;
  position: fixed;
}

.nav_content {
  justify-content: space-around;
}

.nav_item,
.nav_content {
  height: 100%;
}

.nav_item {
  justify-content: center;
}

.nav_icon {
  height: 70%;
}

@media (min-width: 750px) {
  .nav {
    position: relative;
    height: 50px;
  }

  .nav_menu {
    display: none;
    visibility: hidden;
    width: 0;
  }
}
