.nav,
.nav_content,
.nav_item {
  width: 100%;
}

.nav {
  height: 40px;
  background: #0e1113;
  background: -webkit-linear-gradient(
    to right,
    #0e1113,
    #0e0f13
  );
  background: linear-gradient(
    to right,
    #0e1113,
    #0e0f13
  );
  color: white;
  position: fixed;
  z-index: 20;
}

.nav_content {
  justify-content: space-around;
}

.nav_item,
.nav_content {
  height: 100%;
}

.nav_item {
  justify-content: center;
}

.nav_icon {
  height: 70%;
}

@media (min-width: 750px) {
  .nav {
    height: 50px;
  } 
}
