.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  text-align: center;
}

.quote {
  padding-top: 20px;
  height: 30px;
}

.words {
  font-size: 18px;
}

.stability {
  font-family: Caveat;
  font-size: 30px;
}

.firm {
  width: 90%;
  max-width: 800px;
}

.services {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .services {
    flex-flow: row wrap;
  }

  .quote {
    height: 40px;
  }

  .words {
    font-size: 22px;
  }
}
