.content {
	height: calc(100vh - 40px);
    background: crimson;
    padding-top: 40px;
}



@media(min-width:750px) {
    .content {
        height: calc(100vh - 50px);  
        padding-top: unset;
    }
}