@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');

.content {
  height: 100%;
}

picture > img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.info {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  top: 0;
  text-align: center;
  color: #f5f5f5;
  font-family: 'Inria Serif', serif;
}

.tag {
  font-size: 2rem;
}

.desc {
  font-size: 1.1rem;
  padding: 10px;
}

@media (min-width: 750px) {
  .tag {
    font-size: 3rem;
  }
}
